@model BonVoyage.DAL.Entities.CustomerPreference
@using static BonVoyage_TravelAgency.Resources.Resource

@{
    ViewBag.Title = "Create";
}

<h2>Add a new Preference</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("PreferencesDetails:")
                <input asp-for="PreferencesDetails" class="form-control" />
                <span asp-validation-for="PreferencesDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("User:")
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.ListUsers as SelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Back</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
