@{
    ViewData["Title"] = "Contacts";
}

<style>
    p {
        color: black;
    }

    h1 {
        color: #ff6a00;
        text-align: center;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>If you have any questions or need further information, feel free to contact us through the details provided below.</p>

<h2>Our Office</h2>
<p>BonVoyage Travel Agency</p>
<p>55 Rue du Faubourg Saint-Honoré, 75008</p>
<p>Paris, France 12345</p>

<h2>Phone</h2>
<p>You can reach us at: <strong>+123 456 7890</strong></p>

<h2>Email</h2>
<p>Send us an email: <a href="bonvoyage@gmail.com">bonvoyage@gmail.com</a></p>

<h2>Working Hours</h2>
<p>Monday - Friday: 9:00 AM - 6:00 PM</p>
<p>Saturday: 10:00 AM - 4:00 PM</p>
<p>Sunday: Closed</p>

<h2>Social Media</h2>
<p>Follow us on:</p>
<ul>
    <li><a href="https://www.facebook.com/BonVoyageTravelAgency" target="_blank">Facebook</a></li>
    <li><a href="https://www.twitter.com/BonVoyageTravelAgency" target="_blank">Twitter</a></li>
    <li><a href="https://www.instagram.com/BonVoyageTravelAgency" target="_blank">Instagram</a></li>
</ul>
