@{
    ViewData["Title"] = "Tips for Tourists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        font-size: 30px;
    }

    p, ul li {
        font-size: 25px;
        line-height: 1.6;
    }
</style>

<h2>Tips for Tourists</h2>
<hr />
<p>
    Traveling can be exciting, but it's important to be well-prepared. Here are some tips to make your trip smoother.
</p>

<ul>
    <li><strong>Pack Light:</strong> Carry only essentials to avoid extra baggage fees and make your trip more comfortable.</li>
    <li><strong>Stay Hydrated:</strong> Always have a water bottle with you, especially in hot climates.</li>
    <li><strong>Learn Key Phrases:</strong> Knowing a few words in the local language can go a long way.</li>
</ul>
