/* Existing styles in site.css */

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* New styles */
@font-face {
    font-family: 'Calypso';
    src: url('/fonts/ofont.ru_Calypso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/images/airplane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,h2, h3 {
    font-family: 'Calypso', Arial, sans-serif;
    color:blue;
}

p{
    font-size:16px;
    color:cadetblue;
}

.login-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}
  
.login-form {
    display: flex;
    align-items: center;
}

.login-form input, .login-form button {
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #258cfb;
}

.container {
    padding: 18px;
    border-radius: 10px;
    background: transparent;
}

.containerPrivacy {
    background: rgba(255, 255, 255, 0.3);
    padding:  0;   
    border-radius: 10px;
}

a {
    text-decoration: none;
    /*color: #2f00ff !important;
    font-size: 18px !important;*/
    font-family: 'Calypso';
}

.colorBlue {
    color: #2f00ff !important;
}
.colorWhite {
    color: #ffffff !important;
}
.colorOrange {
    /*color: #ff6800 !important;*/
    color: #ffa726!important;
}
.size30 {
    font-size: 30px; 
    font-weight:bold;
}
.size20 {
    font-size: 20px;
}
.size18 {
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    color: #32afaf !important;
    /*font-size: 18px !important;*/
    font-family: 'Calypso';
}

.clickable-header {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.tooltip-inner {
    background-color:gainsboro;
    color: darkblue;
    border: 1px solid gray;
    font-size:18px;
}

.collapse p{
    color:black;
}
  
.faq-actions a {
    color: dimgray !important;
}

.faq-actions a:hover {
    color: #2f00ff !important;
}

p a{
    font-size:18px !important;
}

p a:hover {  
    font-size: 18px !important;
}

.text-center a:hover {
    color:#ff6a00 !important;
}

label {
    color: #32afaf !important;
    font-size: 18px !important;
}

.btn.btn-default {
    background-color: #007bff !important;
    color: white !important;
    font-family: 'Calypso';
}

span {
    font-family: 'Calypso';
    /*color: #32afaf !important;*/
    color: #ffa726 !important;    
}
.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.logo img {
    height: 60px;
    margin-bottom: 10px;
}